body {
    font:1em "맑은 고딕",Cambria,Georgia,sans-serif;
    /* background-color: #333; */
    background-color: beige;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
#top {
    text-align: center;
    font-size: 70px;
    font-weight: bold; 
    margin-top: 100px;
}

/*input textField*/
input {
    border: none;
    font-size: 1px;
    background-color: rgb(60, 134, 65);
}

/*input*/
#amount {
    text-align: right;
    width: 250px;
    height: 50px;
    font-size: 25px;
}
::placeholder {
    color: black;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
  }
#tel {
    text-align: right;
    width: 250px;
    height: 50px;
    font-size: 25px;
}

#price {
    margin-top: 100px;
}

/*구입금액: */
#amountT {
    text-align: center;
    position: relative;
    left: -90px;
    top: 0px;
    font-size: 30px;
}

/*전화번호: */
#telT {
    text-align: center; 
    position: relative;
    left: -90px ;
    top: 0px;
    font-size: 30px;
    margin-top: 50px;
}

/*check btn*/
#setAmount {
    margin-left: 11px;
    margin-top: 1px;
    width: 120px;
    height: 45px;   
    border: none;
    background-color: rgb(226, 49, 30);
    color: black;   
    font-size:17px;
    font-weight:700;
    position: absolute;
    left: 1070px;
    top: 172px;
}

/*save btn*/
#getTel {
    margin-left: 11px;
    margin-top: 1px;
    width: 120px;
    height: 45px;   
    border: none;
    background-color: rgb(226, 49, 30);
    color: black;   
    font-size:17px;
    font-weight:700;
    position: absolute;
    left: 1070px;
    top: 238px;
}

#numpad {
    width: 260px;
    height: 370px;
    padding: 5px;
    background: black;
    position: relative;
    left: 600px;

}

.pad {
    position: relative;
    height: 90px;
}
        
.pad button{
    width: 90px;
    margin: 2px;
}

/* #bg { 
    position: fixed; 
    top: 150px; 
    left: 300px; 
    width: 100%; 
    height: 100%; 
}

#bg img { 
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:50%; 
    min-height:50%; 
} */


/* test01.html  navHome */
#navHome ul {
    list-style-type: none;      /*목록에 붙은 ● 모양을 없애줌*/
    margin: 0;
    padding: 0;
    background-color: #333;
}
#navHome ul:after{
    content:'';
    display: block;
    clear:both;
}
#navHome li {
    float: left;                /*메뉴를 왼쪽부터 표시*/
}
#navHome li a {
    display: block;             /*a링크 요소의 영역을 확장(메뉴칸을 블록레벨로 만든다)*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;      /*글자의 밑줄 없애기*/
}
#navHome li a:hover:not(.active) {
    background-color: #3e9941;
    color: white;
}
#navHome .active {
    background-color: #df3e3e;
    color: white;
}


/* test02.html  navCheck */
#navCheck ul {
    list-style-type: none;      /*목록에 붙은 ● 모양을 없애줌*/
    margin: 0;
    padding: 0;
    background-color: #333;
}
#navCheck ul:after{
    content:'';
    display: block;
    clear:both;
}
#navCheck li {
    float: left;                /*메뉴를 왼쪽부터 표시*/
}
#navCheck li a {
    display: block;             /*a링크 요소의 영역을 확장(메뉴칸을 블록레벨로 만든다)*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;      /*글자의 밑줄 없애기*/
}
#navCheck li a:hover:not(.active) {
    background-color: #3e9941;
    color: white;
}
#navCheck .active {
    background-color: #df3e3e;
    color: white;
}


/* test03.html  navPhone */
#navPhone ul {
    list-style-type: none;      /*목록에 붙은 ● 모양을 없애줌*/
    margin: 0;
    padding: 0;
    background-color: #333;
}
#navPhone ul:after{
    content:'';
    display: block;
    clear:both;
}
#navPhone li {
    float: left;                /*메뉴를 왼쪽부터 표시*/
}
#navPhone li a {
    display: block;             /*a링크 요소의 영역을 확장(메뉴칸을 블록레벨로 만든다)*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;      /*글자의 밑줄 없애기*/
}
#navPhone li a:hover:not(.active) {
    background-color: #3e9941;
    color: white;
}
#navPhone .active {
    background-color: #df3e3e;
    color: white;
}


.si {
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    margin-top: -35px;
}